*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 20px; 
    margin-bottom: 20px;
  }

a {
  text-decoration-line: none;
  color: inherit;
}

body{
    background: #fff;
    color: #555555;
}

svg { margin: 20px 40px; }
.blue { fill: #8bbed6; }
.red { fill: #d07070 }
.green { fill: #bfd16e; }
.yellow { fill: #f7b358; }

.SDGs_selector{
    width: 400px;
    position: relative;
    left: 620px;
    top: 26px;
}
#selectField{
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #b2876f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#selectField img{
    width: 12px;
    transition: transform 0.5s;
}
#list{
    display: inline-block;
    background: #fff;
    border: 1px solid #b2876f;
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

#list::-webkit-scrollbar {
    width: 8px;
    background: #b2876f;
}

#list::-webkit-scrollbar-thumb{
    background: #96705b;
}


.options{
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.options img{
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
}

.options:hover{
    background-color: #f6e6dd;
}

.hide{
    visibility: hidden;
}

.rotate{
    transform: rotate(180deg);
}