*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px; 
  }

a {
  text-decoration-line: none;
  color: inherit;
}

body{
    position: relative;
    font-family: 'Poppins', snas-serif;
    color: #555555;
}

.wrapper, .search-data {
    top: 68px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper {
    position: fixed;
}
.wrapper img {
    padding-right: 10px;
    width: 40px;
    height: 40px;
}
.search-data {
    position: absolute;
    height: 50px;
    width: 280px;
    display: flex;
    text-align: center;
}

.search-data input {
    height: 100%;
    width: 100%;
    padding-left: 18px;
    background: none;
    border: none;
    font-size: 22px;
    font-weight: 500;   
    color: black;
}
.search-data .line {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    bottom: 0;
}
.search-data label {
    position: absolute;
    top: 48%;
    left: 18px;
    font-size: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    color: black;
}

.search-data input:valid ~ label {
    display: none;
}
.search-data span {
    color: #fff;
    position: absolute;
    width: 50px;
    font-size: 25px;
    right: 0;
    top: 0;
    line-height: 45px;
    cursor: pointer;
}

#move {
    z-index: 1;
    cursor: pointer;
  }

#des {
    width: 100%;
    text-align: center;
    background-color: rgb(214, 229, 232);
    position: absolute;
    top: 180px;
    display: flex;
    flex-wrap: wrap;
}

.menu {
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
}
.menu:hover {
    background-color: rgb(186, 201, 204);
}