@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Gowun+Dodum&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Gowun Dodum", sans-serif;
  }
  a {
    color: #2238b4;
    text-decoration: none;
    background-color: transparent;
    font-family: "Oswald", sans-serif;
  }
  a:hover {
    color: black;
  }
  h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    font-weight: 500px;
    line-height: 1.2;
  }
  h6 {
    font-family: "Oswald", sans-serif;
    margin-left: 62px;
  }
  body {
    font-family: "Oswald", sans-serif;
    background: #fff;
  }
  header {
    width: 1920px;
    display: block;
    margin-bottom: 40px;
  }
  hr {
    border: 2px solid #4a94e9;
  }
  nav {
    display: block;
  }

  /* header */
  .des {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
  }
  .name {
    font-size: 40px;
    font-weight: 300px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 28px;
    margin-right: 20px;
    line-height: inherit;
    color: black;
  }
  .name:hover {
    color: black;
  }
  .menu-wrap {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-left: auto;
    align-items: center;
    display: flex;
    flex-basis: auto;
  }
  .menu {
    margin-right: 80px;
    text-align: center;
    flex-grow: 1;
  }

  /* 학교 */
  .university {
    font-family: "Gowun Dodum", sans-serif;
    width: 600px;
    height: 120px;
    padding-left: 720px;
    font-size: 40px;
    font-weight: 350px;
    color: black;
    background-color: white;
  }

  /* The Imapct Ranking */
  #ranking {
    background-color: #d9e5f3;
    border-radius: 10px;
    font-size: 20px;
    height: 360px;
    width: 660px;
    margin-top: 60px;
    margin-left: 240px;
  }
  #content {
    display: flex;
  }
  #impact {
    font-family: 'Alumni Sans Inline One', cursive;
    width: 400px;
    font-size: 38px;
    position: absolute;
    top: 440px;
    left: 280px;
  }
  #score {
    font-family: 'Do Hyeon', sans-serif;
    border: 6px solid black;
    border-radius: 10px;
    width: 180px;
    height: 70px;
    padding-top: 16px;
    text-align: center;
    font-size: 45px;
    margin-top: 158px;
    margin-left: 80px;
  }
  #myGraph {
    position: absolute;
    left: 580px;
    top: 388px;
    width: 300px;
    height: 310px;
  }
  #myGraph svg {
    border: 1px solid;
  }
  #myGraph text {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
  }
  .bar {
    fill: #4a94e9;
  }
  .bar:hover {
    fill: #89a1bc;
  }
  .scoreText {
    fill: white;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .impactExplain {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 728px;
    left: 248px;
  }

  /* 파이차트 */
  .fivepExplain {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 28px;
    color: #2238b4;
    margin-left: 40px;
  }
  #piechart {
    position: absolute;
    top: 284px;
    left: 968px;
    text-align: center;
  }
  .pie-inside {
    font-size: 25px;
    font-weight: bold;
    fill: black;
  }
  .pielabel {
    font-size: 20px;
    font-weight: bold;
    line-height: 2px;

  }

  /* 키워드 차트 */
  #key-legend {
    width: 800px;
    height: 80px;
    position: absolute;
    top: 820px;
    left: 1260px;
  }
  #key-legend text {
    font-size: 20px;
    font-family: "Gowun Dodum", sans-serif;
  }
  #keyword-compare {
    text-align: center;
    flex-wrap: wrap;
    width: 1920px;
    height: 140px;
    display: flex;
    padding-top: 160px;
    margin-bottom: 80px;
  }
  .keyword {
    color: black;
    width: 180px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
    margin: 0 0 28px 102px;
  }
  .keygraph {
    margin-top: 40px;
    cursor: pointer;
    box-sizing: border-box;
    width: 384px;
    height: 140px;
    background-color: white;
    border: none;
  }
  .keygraph:hover {
    background-color: #d9e5f3;
    color: black;
  }
  #svg1,#svg2, #svg3, #svg4, #svg5{
    margin: -20px 60px;
  }
  .blue {
    fill: blue;
  }
  .red {
    fill: red;
  }

  /* 키워드 그래프 */
  .keyExplain {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #2238b4;
    position: absolute;
    top: 850px;
    left: 70px
  }
  #keyText {
    font-family: "Do Hyeon", sans-serif;
    font-size: 28px;
    display: flex;
    margin-left: 50px;
    margin-right: 10px;
    display: none;
  }  
  .keyGraphName {
    background-color: #d9e5f3;
    border-radius: 8px;
    margin: 0 20px 20px 0;
    width: 320px;
    height: 40px;
    text-align: center;
    font-family: "Gowun Dodum", sans-serif;
  }
  .threeGraph {
    display: flex;
  }
  #keyword1 {
    position: absolute;
    top: 1080px;
    left: 60px;
    color: #2238b4;
  }
  #keyword2 {
    position: absolute;
    top: 1470px;
    left: 60px;
    color: #2238b4;
  }
  #reload {
    
  }
  #last1, #last2, #last3, #last4, #last5, #last6{
    margin: 40px 0 20px 20px;
  }
  .exampleExplain {
    font-family: "Gowun Dodum", sans-serif;
    color: #2238b4;
    position: absolute;
    top: 1140px;
    left: 1380px;
  }
  #last7 {
    width: 700px;
    position: absolute;
    top: 1200px;
    left: 1160px;
    margin-top: 40px;
    border: 2px solid black;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
  }
  #last1 svg, #last2 svg, #last3 svg, #last4 svg, #last5 svg, #last6 svg {
    width: 300px;
    height: 260px;
  }
  #myGraph1, #myGraph2, #myGraph3, #myGraph4, #myGraph5, #myGraph6 {
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 20px;
  }
  #myGraph1 text, #myGraph2 text, #myGraph3 text, #myGraph4 text, #myGraph5 text, #myGraph6 text{
    font-family: "Sunflower", sans-serif;
    font-size: 14px;
  }
  .barNum {
    font-size: 9pt;
    text-anchor: middle;
  }
  .axis text {
    font-family: "Do Hyeon", sans-serif;
    font-size: 11px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
  }
  .axis_x line {
    fill: none;
    stroke: black;
  }
  .barName {
    font-family: "Do Hyeon", sans-serif;
    font-size: 9pt;
    text-anchor: left;
  }